<div
  class="swipe-card"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd()">

  <div
    class="swipe-background"
    [class.edit]="swipeDirection === 'right'"
    [class.delete]="swipeDirection === 'left'">

    @if (swipeDirection === 'right') {
      <div class="action edit-action">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </div>
    }

    @if (swipeDirection === 'left') {
      <div class="action delete-action">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </div>
    }

  </div>

  <mat-card
    class="transaction-card"
    [style.transform]="'translateX(' + translateX + 'px)'">

    <div class="header">

    <div class="user">

      <div class="avatar">
        {{ transaction.name.charAt(0).toUpperCase() }}
      </div>

      <div>

        <div class="name">
          {{ transaction.name }}
        </div>

        <div class="description">
          {{ transaction.description }}
        </div>

      </div>

    </div>

    <div class="amount" 
        [class.income-amount]="transaction.type === 'income'"
        [class.expense-amount]="transaction.type === 'expense'">
    
        {{ transaction.type === 'income' ? '+' : '-' }}
        {{ transaction.amount | currency:'INR':'symbol':'1.0-0' }}
    
    </div>

  </div>

  <div class="footer">

    <span
      class="badge"
      [class.income]="transaction.type==='income'"
      [class.expense]="transaction.type==='expense'">

      {{ transaction.type | titlecase }}

    </span>

    <span class="date">

      {{ transaction.createdAt | date:'dd MMM • hh:mm a' }}

    </span>

  </div>

  @if (!isTouchDevice) {

<div class="desktop-actions">

    <button
        mat-stroked-button
        color="primary"
        (click)="edit.emit(transaction)">

        <mat-icon>edit</mat-icon>

        Edit

    </button>

    <button
        mat-stroked-button
        color="warn"
        (click)="delete.emit(transaction)">

        <mat-icon>delete</mat-icon>

        Delete

    </button>

</div>

}

  </mat-card>

</div>

